<h2>Profile: <%= @user.username %></h2>
<h3>Listings:</h3>
<ul>
  <% @user.textbooks.each do |book| %>
    <li><a href="/textbooks/<%=book.id%>"><%= book.title %></a></li>
  <% end %>
</ul>
<br>
<br>
<h3>Purchased by <%=@user.username %>:</h3>
<ul>
  <% @purchased.each do |book| %>
    <li><a href="/textbooks/<%=book.id%>"><%= book.title %></a></li>
  <% end %>
</ul>
<form action="/textbooks" method="get">
  <input class="return" type="submit" value="Return To List">
</form>
